<?xml version="1.0" encoding="utf-8"?>
<project name="case1" xmlns="https://github.com/ackara/webflow/raw/master/webflow.xsd">
  <typescript enable="true" suffix=".min" outputDirectory="C:\Users\Ackeem\AppData\Local\Temp\CompileCommandTest" keepIntermediateFiles="true" generateSourceMaps="true">
    <include entryPoint="Shared/_Layout.cshtml">
      <pattern>*.ts</pattern>
    </include>
  </typescript>
</project>