<?xml version="1.0" encoding="utf-8"?>
<project xmlns="https://raw.githubusercontent.com/Ackara/WebFlow/master/src/WebFlow/intellisense.xsd">
  <sass keepIntermediateFiles="true">
    <include>
      <pattern>*.scss</pattern>
    </include>
  </sass>
  <typescript>
    <include outFile="wwwroot/scripts/sample.ts">
      <pattern>wwwroot/**/*.ts</pattern>
    </include>
  </typescript>
</project>